#home {
    margin-top: calc(-1 * calc(var(--header-height) - calc(var(--gap) * 2)));

    #section-main {
        align-items: center;
        
        #wrapper {
            grid-template-columns: 1fr auto 1fr;
            align-items: center;
            
            .baseline {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 1fr);

                h3 {
                    align-self: end;
                    justify-self: end;
                }
                h1:nth-of-type(2) {
                    align-self: end;
                    justify-self: center;
                    grid-row: rwo1-end / 2;
                    grid-column: 1 / span 2;
                }

            }

            p {
                max-width: 400px;
                margin-left: calc(var(--gap) * 2);
            }
        }

    }

    #section-one {
        grid-template-columns: repeat(2, 50%);
        align-items: center;

        .nossa-missao {
            max-width: 500px;

            p {
                position: relative;
                
                &::before {
                    content: '///';
                    position: absolute;
                    margin-left: calc(-1.75 * var(--gap));
                }
                &:nth-of-type(2) {
                    margin-left: calc(1.75 * var(--gap));
                }

                &:nth-of-type(3) {
                    margin-left: calc(3.5 * var(--gap));
                }

            }

        }

    }

    #section-two {

        #wrapper {
            align-items: center;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-template-areas:
            'test-title test-one .'
            'test-two test-one test-three'
            'test-two test-one test-three';

            h2 {
                grid-area: test-title;
                align-self: end;
            }

        }

    }

    #section-three {

        background: url('../../images/grupo.png');
        background-position: bottom center;

        #wrapper {
            align-items: center;
            grid-template-rows: 2fr 1fr 2fr;
            justify-items: center;

            p {
                max-width: 400px;
                align-self: end;
            }

        }

    }

}